#add {
    text-align: center;
}


#selordid {
    font-size: 1em;
    width: 220px;
    height: 35px;
}


#selproid{
    font-size: 1em;
    width: 220px;
    height: 35px;
}


#selplancount{
    font-size: 1em;
    width: 220px;
    height: 35px;
}



#ddl{
    width: 220px;
    height: 35px;
}



#plansttime{
    width: 220px;
    height: 35px;
}



#planenttime{
    width: 220px;
    height: 35px;
}


