#add {
    text-align: center;
}

#selplan {
    font-size: 1em;
    width: 220px;
    height: 35px;
}

#selpro {
    font-size: 1em;
    width: 220px;
    height: 35px;
}


#seleq {
    font-size: 1em;
    width: 220px;
    height: 35px;
}

#workcount {
    width: 220px;
    height: 35px;
}

#worksttime {
    width: 220px;
    height: 35px;
}

#workentime {
    width: 220px;
    height: 35px;
}
