#equipdiv{
    margin-top: 20px;
    display: none;
}
#equiptable{
    margin: 0px auto;
    border: 1px black solid;
    border-collapse: collapse;
}
#equiptable th,#equiptable td{
    border: 1px black solid;
    padding: 10px;
}
#equiptable th{
    background-color:blue;
    color:aliceblue;
}
#equipcondition{
    display: none;
}
#equippagectrl{
    font-size:  0.8cm;
    text-align: center;
    display:   none;
}
#equipgopage{
    width: 30px;
}
#equipnextPageSpan,#equipprePageSpan{
    display: none;
}



#condiv{
    margin-top: 20px;
    display: none;
}
#contable{
    margin: 0px auto;
    border: 1px black solid;
    border-collapse: collapse;
}
#contable th,#contable td{
    border: 1px black solid;
    padding: 10px;
}
#contable th{
    background-color:blue;
    color:aliceblue;
}
#concondition{
    display: none;
}
#conpagectrl{
    font-size:  0.8cm;
    text-align: center;
    display:   none;
}
#congopage{
    width: 30px;
}
#connextPageSpan,#conprePageSpan{
    display: none;
}

#addcon{
    display: none;
}