#pagectrl {
    font-size: 1em;
    text-align: center;
    display: none;
}

#resultdiv {
    display: none;
}

#gopage {
    width: 40px;
}

#searchBtn {
    display: none;
}

.navbar-text {
    font-size: 1.2em;
}
